#initial{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    background-color: #1B1F29;
    color: white;
}

#cont{
    padding: 50px;
    margin-right: 200px;
}

#initial h1{
    font-size: 4em;
    margin-top: -50px;
}

#initial p{
    margin-bottom: 20px;
    margin-top: 20px;
}

#initial i{
    margin-right: 10px;
}

.box{
    border-bottom: 1px solid #4C5262;
}

#contact{
    display: flex;
    flex-direction: row;
    padding: 150px 50px 150px 50px;
    background-color: #F9FAFA;
}

#contact h2{
    font-size: 3em;
}

#contact p{
    font-size: 0.9em;
    margin-top: 10px;
    margin-right: 100px;
    width: 500px;
    line-height: 30px;
}

#contact input, textarea{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F9FAFA;
    border: 1px solid #cacccc;
}

#contact input{
    width: 490px;
}


#contact .btn-acess{
    background-color: #1B1F29;
    color: white;
    padding: 10px 40px;
    font-weight: normal;
    margin-top: 30px;
    position: absolute;
}

#contact .btn-acess:hover{
    transition: 0.5s;
    background-color: #2925F4;
}

#footer-icons{
    margin-top: 50px;
    padding: 100px;
}

#footer-icons h2{
    font-size: 2em;
    font-weight: normal;
}

#footer-icons i{
    color: black;
}

footer{
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    color: gray;
}

footer a{
    color: gray;
}

footer a:hover{
    color: #2925F4;
    transition: 0.5s;
}

@media(max-width: 858px){
    #initial{
        margin-top: -10px;
        flex-direction: column;
    }

    #cont{
        margin: 0px;
        padding: 42px 0px 0px 15px;
    }

    iframe{
        width: 400px;
        height: 400px;
    }

    #contact{
        flex-direction: column;
    }

    #contact p{
        margin-left: -41px;
    }

    #contact input,textarea{
        width: 400px;
    }

    #footer-icons i{
        display: none;
    }
}