*{
    padding: 0;
    margin: 0;
}

p,a{
    font-family: 'Open Sans';
}

h1,h2,h3{
    font-family: 'DM Serif Display';
}

nav{
    background-color: #1B1F29;
    color: white;
    height: 120px;
    margin-top: -20px;
    padding: 15px;
}

nav a {
    color: white;
}

.menu{
    list-style: none;
    color: #DCDFE5;
    font-size: 14px;
    line-height: 64px;
    font-weight: 400;
}

ul{
    margin-left: 40px;
    margin-top: 20px;
}

ul li{
    display: inline;
    left: 90%;
    font-size: 14px;
    padding: 5px;
    margin-left: 13px;
}

.menu a{
    text-decoration: none;
    color: #DCDFE5;
    font-weight: bold;
}

.menu a:hover{
    color: white;
    transition: .5s;
}

.icons {
    float: right;
    right: 90%;
    margin-top: -19px;
    display: block;
}

i{
    font-size: 20px;
    color: #DCDFE5;
}

i:hover{
    color: white;
    cursor: pointer;
}

#logo{
    display: block;
    text-align: center;
    font-family: 'DM Serif Display';
    margin-top: -55px;
}

#logo a {
    font-family: 'DM Serif Display';
    text-decoration: none;
    font-size: 30px;
}