*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

p,a{
    font-family: 'Open Sans';
}

h1,h2,h3{
    font-family: 'DM Serif Display';
}

.logo a{
    color: #ffff;
    font-size: 30px;
    line-height: 80px;
    padding: 0px 100px;
    font-family: 'DM Serif Display';
}

nav {
	background: #1B1F29;
	height: 100px;
	width: 100%;
    padding: 19px;
}

nav .menu{
    float: left;
    margin-right: 20px;
}

nav .menu li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}

nav .menu li a{
    color: #DCDFE5;
    font-size: 14px;
    padding: 7px 7px;
    border-radius: 3px;
    font-weight: bold;
}

nav .menu li a:hover{
    transition: .5s;
    color: white;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.icons ul{
    margin-top: -50px;

}

.icons ul li{
    display: inline;
    float: right;
    padding: 5px;
}

.icons ul li i{
    color: #DCDFE5;
    font-size: 20px;
    cursor: pointer;
}

.icons ul li i:hover{
    transition: 0.1s;
    color: white;
}

@media(max-width:952px){
    .logo{
        font-size: 30px;
        padding-left: 50px;
    }

    .icons{
        display: none;
    }

    nav .menu li a{
        font-size: 16px;
    }
}

@media(max-width: 858px){
    .logo{
        position: absolute;
        margin-top: -10px;
        margin-left: -60px;
    }
    .checkbtn{
        display: block;
    }

    .icons{
        display: none;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #1B1F29;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav .menu li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav .menu li a{
        font-size: 20px;
    }

    #check:checked ~ .menu{
        left: 0;
        transition: 1.5s;
    }
}