#initial{
    background-color: #1B1F29;
    margin-top: 50px;
    color: white;
    text-align: center;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#initial h1{
    font-size: 4em;
}

#initial img{
    position: absolute;
    width: 70vw;
    margin-top: 320px;
}

#live{
    margin-top: 500px;
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
}

#live div:nth-child(1){
    padding-right: 150px;
}

#live h2{
    font-size: 2em;
}

#list{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.border{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: inherit;
    border-top: 1px solid gray;
    margin-top: 10px;

    padding: 30px;
}

#sessions{
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: #F9FAFA;
}

#sessions h2{
    font-size: 3em;
    text-align: center;
    padding-top: 50px;
}

.content{
    margin-top: 50px;
    display: flex;
}

.card{
    padding: 20px;
}

.card img{
    width: 30vw;
    height: 40vh;
}

.card h3{
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card p{
    margin-bottom: 10px;
}

#phrases{
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

#phrases div{
    padding: 50px;
}

#phrases h2{
    font-size: 1em;
    color: gray;
    margin-top: 10px;
}

#phrases p{
    font-size: 1.5em;
    text-align: justify;
}

@media(max-width: 650px){
    #initial{
        margin-top: -1px;
    }

    #initial h1{
        font-size: 3em;
    }

    #initial p{
        font-size: .9em;
    }

    #initial img{
        margin-top: 160px;
    }

    #live{
        margin-top: 200px;
        flex-direction: column;
        padding: 20px;
    }

    .border{
        flex-direction: column;
    }

    .border h2{
        margin-bottom: 10px;
    }

    .border p{
        margin-bottom: 10px;
    }

    .content{
        flex-direction: column;
    }

    #sessions{
        margin-top: -10px;
        margin-bottom: 0px;
    }

    #sessions h2{
        font-size: 2.5em;
    }

    .card img{
        width: 100%;
    }

    #phrases{
        flex-direction: column;
        padding: 0px;
        margin-top: 10px;
    }
}